/* Place Fonts, Colors Alignments here*/
body {
   background-color: #4F5644;
   color: khaki;
   font-family: Arial, Tahoma, Verdana, Helvetica;
}

html, div {
   background-color: inherit;
}

html, body, #printDiv, .ui-tabs, .ui-tabs.nav {
   font: 4mm Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}

.HeaderStyle {
   font-weight: bold;
   font-style: italic;
   text-align: center;
   background-color: #4A4344;
   color: Khaki;
   font-size: large;
   /*border: 1px solid gray;*/
   border-radius: 9px;
   -webkit-border-radius: 9px;
}

.collase_header {
   background-color: #4F4344;
   font-weight: bold;
   font-style: italic;
   text-align: center;
}

.collase_block {
   color: Khaki;
   border: 2px solid gray;
   border-radius: 9px;
   -webkit-border-radius: 9px;
}

.BOBlock {
   border-radius: 9px;
   -webkit-border-radius: 9px;
   border-color: khaki;
}

/*.inlineJson {
   border-bottom: solid 2px khaki;
   margin: 10px;
   padding:10px;
}*/

.inlineJsonBlock {
   border: solid 2px khaki;
   margin: 10px;
   padding: 10px;
}

.BOBlockMulti {
   border-radius: 9px;
   -webkit-border-radius: 9px;
}

.repeaterTable, .repeaterTable th, .repeaterTable td {
   border: 1px solid black;
}

.CtlLabel {
   background-color: lightgray;
   color: #4F5644;
}

.CtlJsonArray {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
   opacity: 0.8;
}

.multiSelectListBox {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
   opacity: 0.8;
   background-color: lightgray;
   color: #4F5644;
}

.ResetBtn, .SubmitBtn, .SaveBtn, .Button, input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
   opacity: 0.8;
   background-color: #4A4344;
   color: khaki;
   font-weight: bold;
   font-size: large;
}

a {
    background-color:  #4F5644 !important;
    border-color:  lightgray !important;
    /* border: none !important; box-shadow: none !important; */
    color: khaki !important;
    font-style: italic !important;
    background-image: none !important;
}

.ui-widget-content .ui-state-default { 
    border: none; 
    background-image: none !important;
    background-color: #6a715f !important ;
    color: #2f1f02 !important;
}

.ui-widget-content {
    border: 1px solid #dddddd;
   background-color: #4F5644 !important ;
   color: khaki !important;
   background-image: none !important;
}

.anchorRemoveRow {
   /* background: ButtonFace; color: ButtonText; */
   background-color: #4A4344;
   color: khaki;
   border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.anchorRemoveRow:active {
   border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.anchorRemoveGridRow {
   color: khaki;
}

.anchorRemoveGridRow:active {
   border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.DropDownBox, .DropDownBox_ReadOnly {
   border: 1px solid;
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
}

.DropDownBox_ReadOnly {
   background-color: lightgray;
}

.InputBox {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
   opacity: 0.8;
}

.treeLeafBtn {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
   filter: alpha(opacity=80);
   opacity: 0.8;
   background-color: lightgray;
   color: #4F5644;
}


.ComboDivTextBox .AutoTextBox {
   border-right-style: none;
   border: 1px solid;
   border-radius: 0px;
   -webkit-border-radius: 0px;
}


.InputBox, .IntegerBox, .IntegerBox_ReadOnly, .TextBox, .TextBox_ReadOnly, .AutoTextBox, .PasswordBox, .DateBox, .DateBox_ReadOnly, 
.TimeBox, .TimeBox_ReadOnly, .PasswordBox, .DateBox, .IntegerBox, 
.TextArea, .SortableListBox  {
   border: 1px solid;
   border-radius: 9px;
   -webkit-border-radius: 9px;
}

.TextBox_ReadOnly, .DateBox_ReadOnly, .IntegerBox_ReadOnly, .DateBox_ReadOnly, .TimeBox_ReadOnly {
   background-color: lightgray;
}

#contextMenu {
   background-color: lightgray;
   color: #4F5644;
}

   #contextMenu li {
      border-bottom: 1px solid gray;
      font-size: 4mm;
   }

/* For @Html.FormWizard() */
.prev, .next {
   background-color: #b0232a;
   padding: 5px 10px;
   color: #fff;
   text-decoration: none;
}

   .prev:hover, .next:hover {
      background-color: #000;
      text-decoration: none;
   }

#steps li {
   font-size: 24px;
   padding: 10px;
   color: #b0b1b3;
}

   #steps li span {
      font-size: 11px;
      display: block;
   }

   #steps li.current {
      color: #000;
   }

#makeWizard {
   background-color: #b0232a;
   color: #fff;
   padding: 5px 10px;
   text-decoration: none;
   font-size: 18px;
}

   #makeWizard:hover {
      background-color: #000;
   }

input.parsley-error, textarea.parsley-error, .fieldSetBtnsFrame.parsley-error {
   color: #B94A48 !important;
   background-color: #F2DEDE !important;
}

.ComboBox_ReadOnly .TextBox {
   background-color: lightgray;
   color: #4F5644;
}

/*******************************************************************************************************************
    Menu Bar
*******************************************************************************************************************/
menuBar {
   font-size: 13px;
}
