################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/randynwalsh.github.io/config
/.vs/randynwalsh.github.io/FileContentIndex
/.vs
/css/Archive
/app_data/_database/reporter
/app_data/_database/sqldocs
/app_data/_database/sysprog/bp
/app_data/_database/sysprog/jsb_dictionaries/trashcan.dct
/app_data/_database/sysprog/referencetables
/app_data/_database/sysprog/trashcan
/app_data/_database/nwind.mdb
/app_data/_database/northwind2.db
/app_data/_database/northwind.db
/app_data/_database/northwind.accdb
/bin
/obj
/app_data/_database/sysprog/system
/app_data/_database/sysprog/jsb_users
/app_data/_database/sysprog/jsb_config
/app_code
/sqldocsapi.vb
/sqldocs.html
/packages.config
/nuget.config
/module_sqldocs.vb
/module_singesurveyquery.vb
/module_reporter.vb
/modstandardapis.vb
/modrestfulapi.vb
/favicon.ico
/defaultpage.html
/agpi.vbproj.user
/agpi.vbproj
/agpi.sln
/_sqldocs.aspx.vb
/_sqldocs.aspx.designer.vb
/_sqldocs.aspx
/web.config
/.editorconfig
